<table width="100%">
  <tr>
    <td width="25%">
      Game type:
    </td>
    <td>
      <%= @tf2_server.game %>
    </td>
  </tr>
  <%# if @tf2_server.game == "highlander" %>
  <%# else if @tf2_server.game == "6v6" %>
  <%# end %>
</table>
