<% provide :title, "Starting game" %>

<h1>Everyone's ready to start:</h1>
<a href="steam://connect/<%= @address %>/<%= @tf2_server.password %>" class="btn btn-link">join</a>
<p>After TF2 launches, please select the correct team and role. The game will begin once everyone has done so.</p>
<p>NOTE: This is your only chance to connect to the game. After this, you have lost your spot on the server.</p>
