/*THIS FILE ISN'T BOOTSTRAP RELATED JUNK.*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table,td {
  border-bottom: 1px solid #B0B0B0;
}

td,th {
  padding-left:7px;
  padding-right:7px;
  padding-top:3px;
  padding-bottom:3px;
}

tr#this_is_probably_a_server:hover {
  background-color: #F0F0F0;
}

h1.exception_of_doom {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

div#potato input, div#potato select {
  background-color: #E8E8E8;
}

div#potato input:hover, div#potato select:hover {
  background-color: #F0F0F0;
}

div#potato input:focus, div#potato select:focus {
  background-color: white;
}

/*
div.fields_are_small_as_crap input {
  background-color: lightgray;
  width: "2";
}
*/