/*THIS FILE ISN'T BOOTSTRAP RELATED JUNK.*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#emergency_button_formatting {
  padding-top: 2%;
  padding-right: 5%;
  text-align: right;
}
/*NOTE: I personally like it being 5% off in the above code, but I can see how that could be irritating.*/

div#server_show_table table, div#server_show_table table tr, div#server_show_table table tr td {
  border-style: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

div#server_show_table table tr td:first-of-type {
  text-align: right;
  font-size: 2em;
}

div#server_show_table table tr {
  background-color: #E8E8E8;
}

div#server_show_table table tr:nth-child(even) {
  background-color: #F0F0F0;
}

table,tr {
  border-bottom: 1px solid #B0B0B0;
}

td,th {
  padding-left:7px;
  padding-right:7px;
  padding-top:3px;
  padding-bottom:3px;
}

tr#this_is_probably_a_server:hover {
  background-color: #F0F0F0;
}

h1.exception_of_doom {
  text-align: left;
}

h1.exception_of_doom2 {
  text-align: right;
}


div#potato input, div#potato select, div#emergency_button_formatting * {
  background-color: #E8E8E8;
}

div#potato input:hover, div#potato select:hover, div#emergency_button_formatting *:hover {
  background-color: #F0F0F0;
}

div#potato input:focus, div#potato select:focus, div#emergency_button_formatting *:focus {
  background-color: white;
}

div.fields_are_small_as_crap input {
  width: 20pt;
}

form div {
  padding-top: 4pt;
}

/*
div.fields_are_small_as_crap {
  background-color: orange;
  width: "50pt";
}
*/